.table_btn {
    background-color: #222;
    border-color: #222;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    margin-right: 15px;
}