#file_upload {
    border: 1px solid black;
    background: whitesmoke;
    outline: 2px dashed black;
    outline-offset: -10px;
    text-align: center !important;
    width: 90%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 0.25rem;
}