<!doctype html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="image/png" href="/img/favicon.png" rel="shortcut icon">
    <link type="Image/png" href="/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="/css/tools/mobile_menu.css" type="text/css"/>
    <link rel="stylesheet" href="/css/_layout.css" type="text/css"/>
    <link rel="stylesheet" href="/css/tools/preloader.css" type="text/css"/>
</head>

<body>
    <header>
        <div id="name_div"><a href="/" id="site_name">DesuRep</a></div>
        <nav>
            <ul class="nav_links">
                <li><a href="/public">Public files</a></li>
                <li><a th:if="${#httpServletRequest.remoteUser != null}" href="/">My files</a></li>
            </ul>
        </nav>
        <div class="dropdown">
            <button th:if="${#httpServletRequest.remoteUser != null}" onclick="dropdownFunct()" class="drop_btn">[[${#httpServletRequest.remoteUser}]] ▾</button>
            <div th:if="${#httpServletRequest.remoteUser != null}" class="dropdown_content" id="profile_dropdown">
                <a href="/logout">Log out</a>
            </div>

            <a th:if="${#httpServletRequest.remoteUser == null}" href="/signin">SignIn</a>
        </div>

        <div id="hamburger_icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile_menu">
                <li><a href="/public">Public files</a></li>
                <li><a th:if="${#httpServletRequest.remoteUser != null}" href="/">My files</a></li>
            </ul>
        </div>
    </header>

    <main>
        <script src="/js/views/preloader_view.js"></script>
        <script src="/js/views/mobile_menu_view.js"></script>
        <script src="/js/views/dropdown_view.js"></script>
        <div id="loader_wrapper">
            <div id="loader"></div>
            <div class="loader_section section_left"></div>
            <div class="loader_section section_right"></div>
        </div>
        <div layout:fragment = "content"></div>
        <script type="module" src="/js/search_api_worker.js"></script>
        <script type="module" src="/js/sort_table_worker.js"></script>
    </main>
</body>
</html>
