<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#712cf9">

    <title>DesuRep - Signup</title>
    <link rel="stylesheet" href="/css/signin.css" type="text/css"/>
    <link rel="stylesheet" href="/css/tools/floating_input.css" type="text/css"/>
    <link rel="stylesheet" href="/css/tools/preloader.css" type="text/css"/>

    <link type="image/png" href="/img/favicon.png" rel="shortcut icon">
    <link type="Image/png" href="/img/favicon.png" rel="icon">
</head>

<body>
<main>
    <div id="loader_wrapper">
        <div id="loader"></div>
        <div class="loader_section section_left"></div>
        <div class="loader_section section_right"></div>
    </div>

    <div class="center">
        <div class="inner_img"><img src="/img/mainico.svg" alt="no loli?("></div>
        <h1 id="siteName">DesuRep</h1>
        <form action="/signup" method="post">
            <div class="txt_field" id="username_div">
                <input type="text" name="username" id="floating_input_username" required>
                <span></span>
                <label for="floating_input_username">Username</label>
            </div>
            <div class="txt_field" id="email_div">
                <input type="text" name="email"  id="floating_input_email" required>
                <span></span>
                <label for="floating_input_email">Email</label>
            </div>
            <div class="txt_field" id="password_div">
                <input type="password" name="password" id="floating_password" required>
                <span></span>
                <label for="floating_password">Password</label>
            </div>
            <div class="txt_field" id="passwordSec_div">
                <input type="password" name="passwordSec" id="floating_password_repeat" required>
                <span></span>
                <label for="floating_password_repeat">Password confirm</label>
            </div>
            <div class="msg_fields">
                A good password should consist of at least six characters
            </div>
            <div class="error msg_fields" th:if="${param.error}">
                Incorrect input data, baka! (´• ˗ •｀) (Probably such a user already exists)
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit" id="sub_but">Signup</button>
        </form>
    </div>
    <script src="/js/views/preloader_view.js"></script>
    <script type="module" src="/js/form_validation_worker.js"></script>
</main>
</body>
</html>
