<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/file_upload_page.css" type="text/css"/>
    <link rel="stylesheet" href="/css/tools/input_field.css" type="text/css"/>
    <link rel="stylesheet" href="/css/tools/custom_btn.css" type="text/css"/>
    <link rel="stylesheet" href="/css/tools/drag_and_drop.css" type="text/css"/>
    <title>DesuRep - Upload file!</title>
</head>

<body>
    <main>
        <div id="layout_div" layout:fragment="content">
            <div id="back_btn_div"><a href="/"><button class="table_btn">Back</button></a></div>
            <form action="/upload_file" method="post" enctype="multipart/form-data">
                <h1>File upload</h1>
                <p><label class="filter_label"> Work title (or file name)
                    <input class="filter_input" type="text" name="publicationName" required></label></p>

                <p><label class="filter_label"> Author
                    <input class="filter_input" type="text" name="author" required></label></p>

                <p><label class="filter_label"> Specialization
                    <input class="filter_input" type="text" name="theme" required></label></p>

                <p><label class="filter_label">Publication date
                    <input class="filter_input" type="text" name="yearOfPublication" required></label></p>

                <p><label class="filter_label"> Description
                    <textarea class="filter_input" name="description" required></textarea></label></p>

                <p><label class="filter_label"> Make it public?
                    <input type="checkbox" id="filecheckbox" name="isPublic"></label></p>

                <p><label class="filter_label"> Choose or drag-and-drop files here
                    <input type="file" id="file_upload" name="files" multiple required />
                </label></p>

                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

                <button class="table_btn" type="submit" name="res" value="sub">UPLOAD! OwO</button>
            </form>
        </div>
    </main>
</body>
</html>