<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/file_error_page.css" type="text/css"/>
  <link rel="stylesheet" href="/css/tools/custom_btn.css" type="text/css"/>
  <title>DesuRep - Ошибка доступа</title>
</head>

<body>
  <main>
    <div layout:fragment="content">
        <h1 id="error_msg">(〴⋟_⋞)〴 Sorry, you do not have permissions to view this file</h1>
        <p><a href="/"><button class="table_btn">Back to YOUR files</button></a></p>
    </div>
  </main>
</body>

</html>