#layout_div {
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
}

#back_btn_div {
    width: 70px;
    padding-top: 25px;
}

#form_div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

#form_div > form:nth-child(1) > a:nth-child(10) {
    justify-content: center;
    display: flex;
}

#form_div > form:nth-child(1) > hr:nth-child(8) {
    width: 100%;
}

a:hover {
    text-decoration: underline;
}
